

.tituloh1 {
    color: aliceblue;
}

.span-hijo {
    color: #F00;
}

.nav-container {
    background-color: rgb(59, 59, 252);
}

.boton_nav{
  background: none!important;
  border: none;
  padding: 0;
  margin: 6px;
}
.link{
    color: aliceblue;
    text-decoration: none;
}
.link:hover {
    color: darkorange;
}
.navbar{
    margin-left: 20px; 
    display: flex
}
#div-nav {
    margin-right: 20px;
}